<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="somar">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Somar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imc">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Cálculo IMC</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesoIdeal">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Peso Ideal</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
